<!DOCTYPE html>
<html lang="en">
<head>
  <title>بوکچی</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


 
</head>
<body>



<div class="container" >
  <h2 dir="rtl" >بوکچی</h2>
  <h3 dir="rtl">سامانه مدیریت کتاب فروشی ها</h3>      
</br> 
</br>        

  <table class="table"  >
    <thead>
      <tr>
        <th>شناسه</th>
        <th>نام کتاب</th>
        <th>نویسنده</th>
        <th>ژانر</th>
        <th>قفسه</th>
        <th>تعداد</th>
        <th>قیمت/تومان</th>
        <th>تخفیف/درصد </th>
        <th>کاربر ثبات</th>
        <th>بارکد</th>
      </tr>
    </thead>
    <tbody>

      {% for row in data%}

      <tr>
        <td class="success">{{row[0]  }}</td>
        <td class="danger">{{row[1]  }}</td>
        <td class="info">{{row[2]  }}</td>
        <td class="warning">{{row[3]  }}</td>
        <td class="active">{{row[4]  }}</td>
        <td class="success">{{row[5]  }}</td>
        <td class="danger">{{row[6]  }}</td>
        <td class="info">{{row[7]  }}</td>
        <td class="warning">{{row[8]  }}</td>
        <td class="active">{{row[9]  }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>


<div style="margin: 0px 13em 0 13.5em;">
<form action="{{ url_for ('search')  }}" method="GET" dir="rtl">
  <div class="form-group">
    <label for="exampleInputEmail1">برای مثال : رمان</label>
    <input type="text" class="form-control" id="search" aria-describedby="search" placeholder="مقدار را وارد کنید" name="search">
    <br/>
    <large id="emailHelp" class="form-text text-muted">پرس و جو بر حسب: شناسه - نام کتاب  -  نویسنده  -  موضوع  -  شماره قفسه  -  بارکد</large><br/><br/>
    <input type="submit" class="btn btn-primary"  value="جست و جو"></input>

  </div>
</div>


</div>
</body>
</html>
